<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C8550B31DF10E9D00EC0212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8550CC1DF10E9E00EC0212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8550D71DF10E9E00EC0212</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
